/.vscode
/1A1002-Basic IO 2.c
/1B1003-Basic IO 3.c
/ADTNRSL_v2025
/Beginer 2.cpp
/Biaya parkir.c
/Biaya Setelah Bunga.c
/Bio
/bioskop.c
/DDP BIOSKOP
/game percobaan.c
/Game Test
/ganjirl genap.c
/Hari Raya.php
/HTML
/index.html
/keliling lingkaran.cpp
/keliling lingkaran.exe
/Kimia Farma Konversi suhu.c
/Konversi Celcius ke Farenheit.c
/Math test.cpp
/Menghitung luas lingkaran.c
/Modular Programming (ADT Date)
/output
/package.json
/Penjualan Tiket Bioskop.c
/perkalian 3 dan 4c.c
/Pointer
/Program modular program 1.c
/Project 1.cpp
/public
/SDA W6
/src
/Stack _ v25
/tetris 2.cpp
/Tetris.cpp
/Tunjukkan letak kesalahan program di atas, dan jelaskan!.cpp
/Tunjukkan letak kesalahan program di atas, dan jelaskan!.exe
/UAS DDP SEDANG.c
/Untitled-2.c
/Untitled.cpp
/Untitled.exe
/Untitled1.cpp
/Untitled1.exe
/Untitled2.cpp
/Untitled2.exe
/vite.config.js
/Volume limas.c
/Wujud Benda.c